.b-dark {
    background-image:url(darkbg.jpg);
    color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    font-family: "Lucida Console", Courier, monospace;
}


    
